html {
    height: 100%;
}
body {
    background-color: rgba(20, 20, 20, 1);
    color: #f5f5f5;
    height: 100%;
}
h3 {
    font-size: 20px;
    line-height: 0px;
    padding-top: 10px;
}

ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}

.bg {
    background: url('/img/back-dark.jpg') fixed;
    background-size: cover;
}

.bgTerms {
    background: #D3D9DE;
}

.navbar-fixed-top {
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    height: auto;
}

/* positioned below navbar with some margin */
.container {
    position: relative;
    display: block;
    padding-top: calc(40px + 5%);
    padding-left: 5em;
	box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.static-container {
    padding-top: 50px;
    padding-left: 20px;
    font-size: 1.2em;
    line-height: 22px;
}

.static-container h3 {
    /*color: #ff4500;*/
    padding-bottom: 5px;
    padding-top: 20px;

}

.terms {
    margin-top: 50px;
    margin-left: 20px;
}

.paragraph {
    margin-left: 30px;
    font-size: 14px;
    font-family: Oswald;
    color: #666;

}

.headLine {
    font-family: Oswald;
    margin-left: 20px;
    color: #000;
}

.navbar-inner .container {
    position: absolute;
    display: block;
    margin: auto;
    width: 98%;
    height: 97%;
    background: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    padding-left: 10px;
}

/*.dragdrop {*/
/*line-height: 52px;*/
/*text-align: center;*/
/*font-weight: bold;*/
/*color: #666;*/
/*font-size: 18px;*/
/*}*/

.dragdrop:hover {
    /*width:85%;*/
    border: 3px solid #FFFFFF;
    /*background-color: #000;*/
    transition: background-color 1000ms ease;
    transition-delay: 0.5s;
    background-color: rgba(255, 250, 250, 0.85);
}

.dragdrop:hover * {

    /*font-size: 20px;*/
    /*zoom: 120%;*/
}

.dragdrop {

    /*transition: all 10000ms ease-in-out;*/
    /*-webkit-transform: rotate(-10deg);*/
    /*-moz-transform: rotate(-10deg);*/
    /*transition-delay: 15s;*/

    -moz-transition: width 1s, height 1s, background-color 1s, -moz-transform 1s;
    -webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s;
    -o-transition: width 1s, height 1s, background-color 1s, -o-transform 1s;
    transition: width 1s, height 1s, background-color 1s, transform 1s;

	box-sizing: border-box;
	margin: 1em 5% 1em 0;
    width: calc(100% - 350px - 5%);
	max-width: 750px;
    height: 70%;
	min-height: 330px;
    border: 2px solid #DDD;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    /*background-color: #FFFFFF;*/
    background-color: rgba(255, 255, 255, 0.65);
    /*opacity: 0.75;*/
    display: block;
    cursor: cell;
	position: relative;
	float: left;
}

.termsHref {
    font-size: 11px;
    color: #BBBBBB;

}

.termsHref:hover {
    font-size: 11px;
    color: #999999;

}

.footerMenu {
    vertical-align: bottom;
    text-align: left;
    /*line-height: 20px;*/

    width: 100%;
    /*margin-top: 10px;*/
    /*border-top: 1px solid #e2e2e2;*/
}

.footer * {
    vertical-align: bottom;
}

.label-upper-desc {
    font-family: courier;
    color: #CC3333;
    font-size: 0.9em;
    top: -3px;
    left: 2px;
    position: relative;
}

.right_floater {
    float: left;
    line-height: 30px;
    width: 350px;
    color: whitesmoke;
    margin-top: 3em;
}

.beta_floater {
    position: absolute;
    line-height: 22px;
    top: 7%;
    left: 5%;
    margin: auto;
    width: 750px;
    color: whitesmoke;
    vertical-align: bottom;
}

#explainwhat {
    line-height: 20px;
    padding-left: 5px;
    /*background-color: rgba(20, 20, 20, 0.55);*/
}

.footer {
    clear: both;
    color: #DDDDDD;
}

.textDrag {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 200px;
    color: #333333;
}

.addthis_toolbox {
    /*position: absolute;*/
    /*top:41%;*/
    /*left:61%;*/
    display: inline-table;
    margin-top: 8px;
}

/* hide #files input */
#files {
	position: absolute;
	top: -10em;
}

/* --------------------------------
	narrow (probably phone)
*/
@media screen and (max-width: 480px)
{
	.bg {
		background: black;
	}
	.dragdrop {
		padding: 1em .5em;
		height: auto;
	}
	.textDrag {
		position: static;
		height: auto;
	}
}

/* --------------------------------
	half-screen or tablet
*/
@media screen and (max-width: 980px)
{
	.container {
		position: relative;
		display: block;
		padding: 80px 2em 2em;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
	}
	.dragdrop {
		margin: 0;
		max-width: none;
		width: 100%;
		height: auto;
		position: relative;
		float: none;
	}

	.right_floater {
		float: none;
		max-width: 350px;
		width: auto;
	}
}
